<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-lg">
    <a class="navbar-brand" href="/">Fernando Diaz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Academic History</a>
        <a class="nav-link" href="#">Skills</a>
        <a class="nav-link" href="#">Job History</a>
      </div>
    </div>
  </div>
</nav>
